body{
    margin-left: 30%;
    margin-right: 30%;

}


#feedback{
    color: black;
    resize: none;
    overflow-wrap: break-word;
    padding: 2px;

    
    
}
h3{
    font-size: 1.5rem;
    font-weight: lighter;

}
#form-title{
    font-size: 4rem;
    font-weight: 100;



}
#input-box input {
    margin-bottom: 15px;
    
}